USE [master]
GO
/****** Object:  Database [HealthPolicyDB]    Script Date: 8/17/2026 11:35:01 AM ******/
CREATE DATABASE [HealthPolicyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthPolicyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HealthPolicyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthPolicyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HealthPolicyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthPolicyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthPolicyDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](150) NOT NULL,
	[BranchType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[BranchID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Downloads]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Downloads](
	[DownloadID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DownloadDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Downloads] PRIMARY KEY CLUSTERED 
(
	[DownloadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[EffectiveDate] [datetime2](7) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[BranchID] [int] NOT NULL,
	[ContentJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyVersions]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyVersions](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[VersionNumber] [nvarchar](20) NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PolicyVersions] PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](100) NOT NULL,
	[TemplateJson] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/17/2026 11:35:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BranchID] [int] NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260726063049_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260727065700_MakeBranchNullableForAdmin', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260801165155_AddTemplatesTable', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionDate]) VALUES (1, 2, N'Logged out', CAST(N'2026-07-26T09:36:26.9903226' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionDate]) VALUES (2, 3, N'Logged in', CAST(N'2026-07-26T10:01:54.7747152' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [ActionDate]) VALUES (3, 3, N'Created user: hoor abdulaziz alrasheed', CAST(N'2026-07-27T09:26:02.8361008' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchType], [IsActive]) VALUES (1, N'cs', N'Specialized Center', 1)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchType], [IsActive]) VALUES (2, N'Main Branch', N'Administration', 1)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [BranchType], [IsActive]) VALUES (3, N'it', N'Primary Health Center', 1)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [Description], [BranchID], [IsDeleted]) VALUES (1, N'Information Technology', N'eeeeee', 2, 0)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [Description], [BranchID], [IsDeleted]) VALUES (2, N'Artificial Intelligence', N'gggg', 1, 0)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Downloads] ON 

INSERT [dbo].[Downloads] ([DownloadID], [PolicyID], [UserID], [DownloadDate]) VALUES (1, 1, 3, CAST(N'2026-08-02T09:58:20.4864473' AS DateTime2))
INSERT [dbo].[Downloads] ([DownloadID], [PolicyID], [UserID], [DownloadDate]) VALUES (2, 1, 3, CAST(N'2026-08-02T11:23:07.4532292' AS DateTime2))
INSERT [dbo].[Downloads] ([DownloadID], [PolicyID], [UserID], [DownloadDate]) VALUES (1002, 4, 3, CAST(N'2026-08-03T18:03:24.2369694' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Downloads] OFF
GO
SET IDENTITY_INSERT [dbo].[Policies] ON 

INSERT [dbo].[Policies] ([PolicyID], [Title], [Description], [DepartmentID], [FilePath], [EffectiveDate], [Version], [UploadedBy], [UploadDate], [BranchID], [ContentJson]) VALUES (1, N'human resources', N'eeeee', 1, N'/Uploads/Policies/cc95e04b-81e2-44eb-9033-301bae5e9cb1.pdf', CAST(N'2026-08-02T00:00:00.0000000' AS DateTime2), N'1', 3, CAST(N'2026-08-02T09:57:54.7326050' AS DateTime2), 2, NULL)
INSERT [dbo].[Policies] ([PolicyID], [Title], [Description], [DepartmentID], [FilePath], [EffectiveDate], [Version], [UploadedBy], [UploadDate], [BranchID], [ContentJson]) VALUES (2, N'coe', N'اااااااا', 1, N'/Uploads/Policies/cf831271-ad03-40d9-bded-9d8f7a9071fc.pdf', CAST(N'2026-08-03T00:00:00.0000000' AS DateTime2), N'1', 3, CAST(N'2026-08-03T11:33:30.9635819' AS DateTime2), 2, NULL)
SET IDENTITY_INSERT [dbo].[Policies] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyVersions] ON 

INSERT [dbo].[PolicyVersions] ([VersionID], [PolicyID], [VersionNumber], [FilePath], [CreatedBy], [CreatedAt]) VALUES (1, 1, N'1', N'/Uploads/Policies/cc95e04b-81e2-44eb-9033-301bae5e9cb1.pdf', 3, CAST(N'2026-08-02T11:20:57.6910813' AS DateTime2))
INSERT [dbo].[PolicyVersions] ([VersionID], [PolicyID], [VersionNumber], [FilePath], [CreatedBy], [CreatedAt]) VALUES (2, 4, N'1', N'/Uploads/Policies/826fec0f-2209-4e5c-8b58-26fd8acafc42.docx', 3, CAST(N'2026-08-03T18:02:44.9152504' AS DateTime2))
INSERT [dbo].[PolicyVersions] ([VersionID], [PolicyID], [VersionNumber], [FilePath], [CreatedBy], [CreatedAt]) VALUES (1002, 8, N'2', N'', 4, CAST(N'2026-08-17T11:28:57.5547913' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PolicyVersions] OFF
GO
SET IDENTITY_INSERT [dbo].[Templates] ON 

SET IDENTITY_INSERT [dbo].[Templates] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Email], [Role], [IsActive], [BranchID], [DepartmentID]) VALUES (3, N'System Administrator', N'admin', N'123456', N'admin@health.com', N'Admin', 1, 1, NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Email], [Role], [IsActive], [BranchID], [DepartmentID]) VALUES (4, N'hoor abdulaziz alrasheed', N'hoor', N'12', N'hoorabdulaziz623@gmail.com', N'SubAdmin', 1, 2, 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Email], [Role], [IsActive], [BranchID], [DepartmentID]) VALUES (6, N'abdulaziz alrasheed', N'abdulaziz_8', N'12', N'abdulaziz623@gmail.com', N'Admin', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Departments_BranchID]    Script Date: 8/17/2026 11:35:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_Departments_BranchID] ON [dbo].[Departments]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_BranchID]    Script Date: 8/17/2026 11:35:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_BranchID] ON [dbo].[Users]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentID]    Script Date: 8/17/2026 11:35:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentID] ON [dbo].[Users]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Branches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Branches_BranchID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branches_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Branches_BranchID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentID]
GO
USE [master]
GO
